.account-registry {
    margin: 0 auto;
}

.registry {
    background-color: #dddddd;
}

span.title {
    margin-left: 10px;
    font-weight: 500;
    font-size: 18px;
}

.registry > ul > li {
    padding: 15px 5px;
    height: 70px;
}

.registry > ul > li.button {
    margin: 0 15px;
}

.registry > ul > li > .errorMsg {
    margin: 2px 120px;
    color: red;
}

.login {
    background-color: #dddddd;
    width: 75%;
    margin: 0 auto;
}

.login >.btnLogin {
    margin-bottom:0;
}

.login > ul > li {
    padding: 15px 5px;
    height: 70px;
}

.login > ul > li:last-child {
    padding-top: 0;
}

.login > ul > li.button {
    margin: 0 15px;
}

.login > ul > li > .errorMsg {
    margin: 2px 120px;
    color: red;
}